<footer class="px-2 pt-0 pb-2 text-gray-100 bg-gray-700">
    <div class="container flex items-center justify-around pt-6 py-8">
        <img
            class="w-24 rounded-xl"
            src="../../public/onePieceBanner.png"
            alt="logoOnePieceBanner"
        />
        <ul>
            <li>Términos</li>
            <li>Privacidad</li>
            <li>Preguntas frecuentes</li>
        </ul>
        <div class="flex">
            <a class="mr-8" href="https://discord.com/"
                ><img
                    class="w-10"
                    src="../../public/discord_3670157.png"
                    alt="imgDiscord"
                />
            </a>
            <a href="https://github.com">
                <img
                    class="w-10"
                    src="../../public/940962_git_github_hub icon_icon.png"
                    alt="imgGit"
                />
            </a>
        </div>
    </div>
    <div class="container flex justify-around">
        <p class="">Derechos de autor © 2024 Nakamas Inc.</p>
    </div>
</footer>
