<header class="w-full bg-[#dc0404]">


    <nav class="flex flex-row max-w-screen-xl justify-between">

        <img class="w-24 rounded-xl" src="../../public/onePieceBanner.png" alt="">

        <ul class="flex flex-row gap-2">
            <li class="">Inicio</li>
            <li class="">Universo</li>
            <li class="">Obra</li>
            <li class="">
                <div class="">
                    <buttons></buttons>
                    <buttons></buttons>
                </div>
            </li>
        </ul>
    </nav>

</header>