<header class="header">

    <nav class="nav">

        <a href="#" class="m-auto">
            <img class="nav__logo" src="../../public/assets/logo.svg" alt="logo">
        </a>

        <label class="nav__label">
            <input type="checkbox" class="nav__checkbox">
        </label>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">

                <li><a href="#" class="nav__link">Inicio</a></li>

                <li class="dropdown__item">
                    <div class="nav__link">
                        Obra <img class="dropdown__arrow" src="../../public/assets/drop.svg" alt="arrow">
                    </div>

                    <ul class="dropdown__content">
                        <li>
                            <a href="#" class="dropdown__link">
                                Manga
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown__link">
                                Anime
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown__link">
                                Autor   
                            </a>
                        </li>
                    </ul>

                </li>

                <li class="dropdown__item">
                    <div class="nav__link">
                        Universo <img class="dropdown__arrow" src="../../public/assets/drop.svg" alt="arrow">
                    </div>

                    <ul class="dropdown__content">
                        <li>
                            <a href="#" class="dropdown__link">
                                Personajes
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown__link">
                                desas sadas
                            </a>
                        </li>

                        <li class="dropdown__subitem">
                            <div class="dropdown__link">
                                Mundo 
                                <img class="dropdown__plus" src="../../public/assets/plus.svg" alt="+">
                            </div>

                            <ul class="dropdown__submenu">
                                
                                <li>
                                    <a href="#" class="dropdown__sublink">
                                        JIJI
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="dropdown__sublink">
                                        JOJO
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="dropdown__sublink">
                                        JAJA
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>

                </li>

                <!-- <li><a href="#" class="nav__link">Perfil</a></li> -->

            </ul>
        </div>

    </nav>

</header>

<style>
    
    .header {
        width: 100%;
        background: #ce1212;
        z-index: 10;
    }

    .nav {
        width: min(95%, 1200px);
        height: 64px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .nav__logo {
        height: 42px;
        width: 100%;
    }


    @media (width < 768px) {
        .nav {
            display: flex;
            align-items: center;
        }

        .nav__menu {
            position: absolute;
            left: 0;
            top: 3.5rem;
            width: 100%;
            height: calc(100vh - 3.5rem);
            overflow: auto;
            pointer-events: none;
            opacity: 0;
            transition: opacity .2s;
        }

        .nav__menu::-webkit-scrollbar {
            width: 0;
            pointer-events: all;
        }

        .nav__label {
            width: 32px;
            height: 32px;
            background-image: url('../../public/assets/menu.svg');
            background-size: cover;
            cursor: pointer;
            z-index: 100;
        }

        .nav:has(.nav__checkbox:checked) .nav__menu {
            opacity: 1;
            pointer-events: all;
        }

        .nav:has(.nav__checkbox:checked) .nav__label {
            background-image: url('../../public/assets/close.svg');
        }

    }

    .nav__checkbox {
        display: none;    
    }


    .nav__link {
        color: #fff;
        background-color: #ce1212;
        font-weight: 600;
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color .3s;

        &:hover {
            background-color: #570304;
        }
    }

    .dropdown__item {
        cursor: pointer;
    }

    .dropdown__arrow {
        width: min(90%, 24px);
        transition: transform .3s;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding: 1.25rem 1.25rem 1.25rem 2.5rem;
        color: #fff;    
        background-color: #570304;
        display: flex;
        align-items: center;
        column-gap: .5rem;
        font-weight: 600;
        transition: background-color .3s;
    }

    .dropdown__link:hover {
        background-color: #ce1212;
    }

    .dropdown__content, .dropdown__submenu {
        max-height: 0;
        overflow: hidden;
    }

    .dropdown__item:hover .dropdown__content,
    .dropdown__subitem:hover > .dropdown__submenu {
        max-height: 1000px;
    }

    .dropdown__item:hover .dropdown__arrow {
        transform: rotate(180deg);
    }

    .dropdown__plus {
        margin-left: auto;
    }
    
    .dropdown__sublink {
        background-color: #ce1212;

        &:hover {
            background-color: #570304;
        }
    }

    .nav__menu::-webkit-scrollbar {
            width: 0;
        }

    .nav__list {
        background-color: #ce1212;
        padding-top: 1rem;  
    }

    @media (width > 768px) {
        
        .nav {
            width: min(90%, 1020px);
            height: calc(3.5rem + 2rem);
            display: flex;
            justify-content: space-between;
        }

        .nav__menu {
            width: 100%;
            display: flex;
            justify-content: end;
            margin: 0 auto;
        }
    
        .nav__list {
            height: 100%;
            display: flex;
            column-gap: 3rem;
        }

        .nav__link {
            height: 100%;
            padding: 0;
            justify-content: initial;
            column-gap: .25rem;

            &:hover {
                background-color: transparent;
            }
        }

        .dropdown__item, .dropdown__subitem {
            position: relative;
        }

        .dropdown__content, .dropdown__submenu {
            max-height: initial;
            overflow: initial;
            position: absolute;
            left: 0;
            top: 4.5rem;
            opacity: 0;
            pointer-events: none;
            transition: opacity .1s;
        }

        .dropdown__link, .dropdown__sublink {
            padding-inline: 1rem 3.5rem;
        }

        .dropdown__subitem .dropdown__link {
            padding-inline: 1rem;
        }

        .dropdown__submenu {
            position: absolute;
            left: -109px;
            top: 0;
        }

        .dropdown__item:hover .dropdown__content {
            opacity: 1;
            pointer-events: initial;
        }

        .dropdown__subitem:hover > .dropdown__submenu {
            opacity: 1;
            pointer-events: initial;  
        }

    }

</style>
    